body {
background-size : cover;
  font-family: sans-serif;
  height: auto;
}

.box {
  width: auto;
  display: inline-block;
  padding: 20px;
  border: none;
  border-radius: 8px;
  font-size: 30px;
  position: relative;
  float: left;
  background: rgba(255, 255, 255, 0.7);
  bottom: 0;


}
